<template>
  <v-card class="post-preview">
    <nuxt-link :to="'/posts/' + id">
      <v-card-title>
        {{ title }}
      </v-card-title>
      <v-card-subtitle> By {{ author }} </v-card-subtitle>
      <v-card-text>{{ excerpt }}</v-card-text>
    </nuxt-link>
  </v-card>
</template>

<script>
export default {
  name: "PostPreview",
  props: {
    id: {
      type: String,
      required: true
    },
    slug: {
      type: String,
      required: true
    },
    author: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    excerpt: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
.card {
  background-color: blue;
}
.post-preview {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
  background-color: #eeeeee;
  width: 90%;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.post-thumbnail {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

a:hover .post-content,
a:active .post-content {
  background-color: #ccc;
}
</style>
