<template>
  <v-content class="post-list">
    <div v-for="(post, index) in posts" :key="index">
      <PostPreview
        :id="post.id"
        :slug="post.slug"
        :author="post.authors[0].name"
        :title="post.title"
        :excerpt="post.excerpt"
      />
    </div>
  </v-content>
</template>

<script>
import PostPreview from "@/components/Posts/PostPreview";
import { getPosts } from "~/api/posts";
export default {
  components: {
    PostPreview
  },
  props: {
    posts: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
.post-list {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
</style>
