<template>
  <div>
    <v-form @submit.prevent="onSubmit">
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="form.firstname"
              label="firstname"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="form.lastname"
              label="lastname"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="form.email"
              label="email"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              v-model="form.password"
              label="password"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-btn type="submit">Register</v-btn>
        <br />
        <br />
        <br />
        <nuxt-link to="/auth/login">
          Already registered, go to login?
        </nuxt-link>
        <p class="errormsg">{{ form.error }}</p>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import Cookie from "js-cookie";
import firebase from "firebase/app";
import "firebase/auth";

export default {
  name: "Register",
  components: {},
  data() {
    return {
      form: {
        firstname: "Willy",
        lastname: "Thrasher",
        email: "willy@gmail.com",
        password: "2gobully",
        error: ""
      }
    };
  },
  methods: {
    async onSubmit() {
      try {
        await this.$store.dispatch("modules/auth/register", this.form);
        this.$router.push("/");
      } catch (error) {
        this.form.error = error;
      }
    }
  }
};
</script>

<style>
.errormsg {
  color: red;
}
</style>
