<template>
  <v-content>
    <!-- <img src="~/assets/images/page1.png" usemap="#master" ref="image" />
    <map name="master">
      <area @click="dosomething" :coords="`${grid1}`" shape="rect" />
      <area @click="dosomething2" :coords="`${grid2}`" shape="rect" />
    </map>-->
    <v-row>
      <v-col>3996 BC</v-col>
      <v-col>
        <v-btn color="primary" @click="gotoPage1">Creation: Adam and Eve</v-btn>
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <img src="~/assets/images/downarrow.png" />
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col>2340 BC</v-col>
      <v-col>
        <v-btn color="primary" @click="gotoPage2">Noah and the Flood</v-btn>
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <img src="~/assets/images/downarrow.png" />
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-btn color="primary">Tower of Babel</v-btn>
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <img src="~/assets/images/downarrow.png" />
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-btn color="primary">Abraham, Isaac, and Jacob</v-btn>
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <img src="~/assets/images/downarrow.png" />
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-btn color="primary">The Exodus</v-btn>
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <img src="~/assets/images/downarrow.png" />
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-btn color="primary">Period of the Judges</v-btn>
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <img src="~/assets/images/downarrow.png" />
      </v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-btn color="primary">King David, Solomon, and the Temples</v-btn>
      </v-col>
      <v-col></v-col>
    </v-row>
  </v-content>
</template>

<script>
export default {
  data() {
    return {
      grid1: "0,0,100,100",
      grid2: "0,0,100,100"
    };
  },
  mounted() {
    // var width = this.$refs.image.clientWidth;
    // var height = this.$refs.image.clientHeight;
    // this.grid1 = `0,0,${width},${height / 2}`;
    // this.grid2 = `0,${height / 2},${width},${height}`;
  },
  methods: {
    gotoPage1() {
      this.$router.push("/chronology/page1");
    },
    gotoPage2() {
      this.$router.push("/chronology/page2");
    },
    dosomething() {
      console.log("Image has been pressed");
    },
    dosomething2() {
      console.log("Image 2 has been pressed");
    }
  }
};
</script>

<style>
img {
  width: 100%;
}
</style>
