<template>
  <div>
    <v-switch v-model="switchdetails" label="Show Details"></v-switch>
    <br />
    <br />
    <v-row>
      <v-col
        class="intro-text"
      >Genesis chapter eleven records eleven post-flood generations from Noah to Abram (or Abraham).</v-col>
    </v-row>
    <br />
    <br />
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Noah was born
          <br />(2940 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Noah was the oldest person in the bible to ever father children. Genesis chapter five explains he had three sons at the age of 500. Again, this is not an exact age, but rather a general one showing this unique characteristic of reproducing at such an old age.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">502 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
      <!-- <v-col class="center">130 years</v-col> -->
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Shem was born
          <br />(2438 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Shem lived 600 years. He was 100 years old two years after the flood when Arphaxad was born. Genesis 11:10-11</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">2 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Arphaxad was born
          <br />(2338 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Arphaxad lived 438 years.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">35 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Salah was born
          <br />(2303 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Salah lived 433 years.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">30 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Eber was born
          <br />(2273 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Eber lived 464 years.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">34 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Peleg was born
          <br />(2239 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Peleg lived 239 years. Notice men’s lifetimes shortened by approximately one-half beginning with Peleg.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">30 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Reu was born
          <br />(2209 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Reu lived 239 years.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">32 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col col="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Serug was born
          <br />(2177 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Serug lived 230 years.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">30 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Nahor was born
          <br />(2147 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Nahor lived 148 years.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">29 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Terah was born
          <br />(2118 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Terah lived 205 years.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">70 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Abram was born
          <br />(2048 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Abraham (Abram) lived 175 years.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-col cols="1"></v-col>
    <br />
    <br />
    <v-row>
      <v-col
        class="intro-text"
      >The eleven post-flood generations from Noah span 292 years from the flood’s end until Abram’s birth. These 292 years, when added to the pre-flood years, shows Abram was born 1948 years after the creation of Adam. Isaac was the eleventh offspring in the post-flood repopulating line of Shem. Our theoretical age of eleven is prevalent, as is 1948. Abram was born in 2048 B.C., or 1948 years after Adam, Isaac was born in 1948 B.C., or 2048 years after Adam. Their birth years added together equals creation year: 1948 + 2048 = 3996.</v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  layout: "backnav",
  data() {
    return {
      switchdetails: true
    };
  }
};
</script>

<style scoped>
img {
  padding: 0px;
  margin: 0px;
}
p {
  color: black;
}

ul li {
  color: black;
}

.year {
  text-align: center;
}

.center {
  padding: 50px 0;
}

.intro-text {
  color: black;
  font-weight: 600;
}

.main_item h1 {
  font-size: 1.2rem;
  color: black;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
}
</style>
