<template>
  <div>
    <v-form @submit.prevent="onSubmit">
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="form.email"
              label="Email"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              v-model="form.password"
              label="password"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-btn type="submit">Login</v-btn>
        <br />
        <br />
        <br />
        <nuxt-link to="/auth/register">
          Register as new user?
        </nuxt-link>
        <p class="errormsg">{{ form.error }}</p>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import { db } from "~/plugins/firebase";
import Cookies from "js-cookie";
import firebase from "firebase/app";
import "firebase/auth";

export default {
  name: "Login",
  components: {},
  data() {
    return {
      form: {
        email: "drmarkthrasher@gmail.com",
        password: "2gobully",
        error: ""
      }
    };
  },
  methods: {
    async onSubmit() {
      await this.$store.dispatch("modules/auth/login", this.form).catch(err => {
        this.form.error = err;
      });
      this.$router.push("/");
    }
  }
};
</script>

<style scoped>
.errormsg {
  color: red;
}
</style>
