<template>
  <div>
    <v-switch v-model="switchdetails" label="Show Details"></v-switch>
    <br />
    <br />
    <v-row>
      <v-col
        class="intro-text"
      >This segment shows the pre-flood lineage, Adam to Shem, found in Genesis Chapter 5 with additional clarification from Genesis 11:10.</v-col>
    </v-row>
    <br />
    <br />
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Adam was created
          <br />(3996 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Adam died at age 930 years in 3066 B.C.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">130 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
      <!-- <v-col class="center">130 years</v-col> -->
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Seth was born
          <br />(3866 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Seth died at 912 years in 2954 B.C.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">105 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Enos was born
          <br />(3761 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Enos died at 905 years in 2856 B.C.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">90 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Cainan was born
          <br />(3671 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Cainan died at 910 years in 2761 B.C.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">70 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Mahalaleel was born
          <br />(3601 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Mahalaleel died at 895 years in 2706 B.C.</li>
          </ul>
        </div>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">65 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Jared was born
          <br />(3536 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Jared died at 962 years in 2574 B.C.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">162 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Enoch was born
          <br />(3374 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>
              Enoch lived 365 years and
              <i>"walked with God: and he was not; for God took him"</i> in 3009 B.C.
            </li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">65 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col col="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Methuselah was born
          <br />(3309 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Methuselah died at 969 years old in the flood year, 2340 B.C.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">187 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Lamech was born
          <br />(3122 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Lamech died at 777 years old in the year 2345 B.C.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">182 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Noah was born
          <br />(2940 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Noah lived 500 years and begat Shem, Ham, and Japheth. (Note: this was a general time period statement about the births of the three sons who would survive the flood.)</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="year">502 years</v-col>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="4"></v-col>
      <v-col cols="4">
        <img src="~/assets/images/thindownarrow.png" />
      </v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="main_item">
        <h1>
          Shem was born
          <br />(2438 B.C.)
        </h1>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <div v-if="switchdetails">
          <ul>
            <li>Shem was 100 years old two years after the flood. Genesis 11:10 further clarifies his birth year.</li>
          </ul>
        </div>
      </v-col>
    </v-row>
    <v-col cols="1"></v-col>
    <br />
    <br />
    <v-row>
      <v-col
        class="intro-text"
      >These eleven generations span 1656 years from the creation of man until the Great Flood. Later we will find 1656 years was also the interval from the birth of Moses until the second temple was destroyed in 70 A.D.</v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  layout: "backnav",
  data() {
    return {
      switchdetails: true
    };
  }
};
</script>

<style scoped>
img {
  padding: 0px;
  margin: 0px;
}
p {
  color: black;
}

ul li {
  color: black;
}

.year {
  text-align: center;
}

.center {
  padding: 50px 0;
}

.intro-text {
  color: black;
  font-weight: 600;
}

.main_item h1 {
  font-size: 1.2rem;
  color: black;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
}
</style>
