<template>
  <v-app-bar fixed app>
    <div class="row" @click="handleBackNavigation">
      <span><v-icon color="#800000">mdi-arrow-left-bold</v-icon></span>
      <span><p>&nbsp;Previous</p></span>
    </div>
    <v-spacer />
  </v-app-bar>
</template>

<script>
export default {
  methods: {
    handleBackNavigation() {
      this.$router.go(-1);
    }
  }
};
</script>

<style>
.row {
  display: flex;
  color: #800000;
  font-size: 1.2rem;
  font-weight: 400;
}
</style>
