<template>
  <div>
    <v-navigation-drawer v-model="drawer" :clipped="clipped" fixed app>
      <!-- Section for login and register (unguarded routes) -->
      <v-list v-if="!loggedIn">
        <v-subheader>Account</v-subheader>
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <!-- Section for navigation to guarded pages -->
      <v-list v-if="loggedIn">
        <v-subheader>Navigation</v-subheader>
        <v-list-item v-for="(item, i) in guarded_items" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
        <!-- Logout -->
        <v-divider></v-divider>
        <v-subheader>Account</v-subheader>
        <v-list-item @click="logout">
          <v-list-item-action>
            <v-icon>mdi-logout-variant</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- App Bar -->
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <nuxt-link to="/">
        <v-toolbar-title v-text="title" />
      </nuxt-link>
      <v-spacer />
    </v-app-bar>
  </div>
</template>

<script>
export default {
  props: {
    loggedIn: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      title: "BCD",
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-login-variant",
          title: "Login",
          to: "/auth/login"
        },
        {
          icon: "mdi-account-plus",
          title: "Register",
          to: "/auth/register"
        }
      ],
      guarded_items: [
        {
          icon: "mdi-home",
          title: "Home",
          to: "/"
        },
        {
          icon: "mdi-post-outline",
          title: "Posts",
          to: "/posts"
        },
        {
          icon: "mdi-post-outline",
          title: "Chronology",
          to: "/chronology"
        },
        {
          icon: "mdi-information-outline",
          title: "About",
          to: "/about"
        }
      ]
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("modules/auth/logout");
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: maroon;
  font-weight: bold;
}
</style>
