html,
body {
  margin: 0;
}

/* this causes pages to fade out and then in.  transition specified in nuxt.confug.js */
/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
} */
