<template>
  <div class="posts-page">
    <v-container>
      <PostList :posts="posts" />
    </v-container>
  </div>
</template>

<script>
import PostList from "@/components/Posts/PostList";
import { getPosts } from "~/api/posts";

export default {
  middleware: "authenticated",
  components: {
    PostList
  },
  async asyncData() {},
  computed: {
    posts() {
      return this.$store.state.modules.posts.posts;
    }
  }
};
</script>

<style scoped>
.posts-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
