<template>
  <v-app>
    <v-content>
      <BackNavBar />
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer app>
      <span>&copy; 2020</span>
    </v-footer>
  </v-app>
</template>
<script>
import firebase from "firebase/app";
import "firebase/auth";
import Cookie from "js-cookie";

import BackNavBar from "~/components/Navigation/BackNavBar";

export default {
  components: {
    BackNavBar
  },

  mounted() {
    // this.setupFirebase();
  },
  methods: {
    // setupFirebase() {
    //   firebase.auth().onAuthStateChanged(user => {
    //     if (user) {
    //       this.loggedIn = true;
    //     } else {
    //       this.loggedIn = false;
    //       Cookie.remove("access_token");
    //     }
    //   });
    // }
  }
};
</script>

<style></style>
