<template>
  <v-app>
    <TheAppBar :loggedIn="loggedIn" />
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer app>
      <span>&copy; 2020</span>
    </v-footer>
  </v-app>
</template>
<script>
import firebase from "firebase/app";
import "firebase/auth";
import Cookie from "js-cookie";

import TheAppBar from "@/components/Navigation/TheAppBar";

export default {
  components: {
    TheAppBar
  },
  data() {
    return {
      loggedIn: false
    };
  },
  mounted() {
    this.setupFirebase();
  },
  methods: {
    setupFirebase() {
      firebase.auth().onAuthStateChanged(user => {
        if (user) {
          this.loggedIn = true;
        } else {
          this.loggedIn = false;
          Cookie.remove("access_token");
        }
      });
    }
  }
};
</script>

<style></style>
