<template>
  <div class="about-page">
    <h3>About page</h3>
  </div>
</template>

<script>
export default {
  middleware: "authenticated"
};
</script>

<style scoped>
.about-page {
  text-align: center;
  padding: 30px;
}
</style>
