<template>
  <div class="home-page">
    <section class="intro">
      <h1>Bible Chronology Deciphered</h1>
    </section>
  </div>
</template>

<script>
export default {
  middleware: "authenticated",
  components: {}
};
</script>

<style scoped>
.intro {
  height: 200px;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  background-image: url("~assets/images/bible.jpeg");
  background-position: center;
  background-size: cover;
}

.intro h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .intro h1 {
    font-size: 2rem;
  }
}
</style>
