<template>
  <v-content>
    <div class="single-post-page">
      <h1>{{ post.title }}</h1>
      <br />
      <div v-html="post.html"></div>
    </div>
  </v-content>
</template>

<script>
import { getSinglePost } from "~/api/posts";

export default {
  layout: "backnav",
  async asyncData(context) {
    if (process.client) {
      const post = await getSinglePost(context.params.id);
      return { post: post };
    }
  }
};
</script>

<style scoped>
.single-post-page {
  margin-top: 0px;
}
/* img {
  width: 100%;
} */
</style>
